fastapi>=0.110.0
uvicorn[standard]>=0.29.0
faster-whisper>=0.10.0
vaderSentiment>=3.3.2

fer>=22.5.1
mediapipe==0.10.21
protobuf==4.25.3
librosa>=0.10.1
opencv-python>=4.10.0.84
ffmpeg-python>=0.2.0
numpy>=1.26.4
moviepy>=1.0.3
